node_modules/
dist/
.env
frontend/.env
backend/.env
.DS_Store
.vscode/


.env
.env.*
*.jsonl
*.webm
.DS_Store
node_modules
*.json
backend/src/usage-log.jsonl
backend/src/usage-log.jsonl
backend/src/usage-log.jsonl
api/
